@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/*Internal notes for myself
	References: 
		+ https://developer.mozilla.org/es/docs/Web/CSS/padding
		+ https://www.w3schools.com/css/css_font_google.asp#gsc.tab=0&gsc.q=css%20%40import
		+ https://www.w3schools.com/cssref/pr_import_rule.asp
		+ https://www.w3docs.com/snippets/css/how-to-import-google-fonts-in-css-file.html
		+ https://developer.mozilla.org/en-US/docs/Web/CSS/@import
	*/

body {
	background: black;
}
/* * {
		border: 1px dashed red;
		min-height: 10px;
	}*/
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 0px;
	text-align: center;
	padding: 5%;
}
.postcard-header h1 {
	font-family: "Audiowide";
	width: 400px;
	height: 50px;
	margin: 0px;
	text-align: center;
	padding: 5%;
}
.postcard-body {
	font-family: "Raleway";
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
}
.body-right {
	margin-top: 0%;
}
.body-left,
.body-right {
	padding: 10px;
}
.postcard-footer {
	text-align: center;
	background: whitesmoke;
	padding: 2%;
}
